#hboxTop {
    -fx-border-color: #A753B1;
    -fx-border-radius: 10px;
}

#hboxBottom {
    -fx-border-color: #FF5505;
    -fx-border-radius: 10px;

}

#girdtone {
    -fx-border-color: #EEA82F;
    -fx-border-radius: 10px;
}

#btnRecord:hover {
    -fx-background-color: darkgrey;
}

.btnHover:hover {
    -fx-cursor: hand;
}